<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>

  <header>
    <div class="navbar">
      <div class="logo">
        <a href="{{ "/" | relative_url }}">Study Friend</a>
      </div>
  
      <button class="nav-toggle" aria-label="Toggle navigation">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
  
      <nav>
        <ul>
          <li><a href="{{ "/" | relative_url }}">Home</a></li>
          <li><a href="{{ "/about" | relative_url }}">About</a></li>
          <li><a href="{{ "/contact" | relative_url }}">Contact</a></li>
          <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
        </ul>
      </nav>
    </div>
  </header>
      

  <!-- Main Content Section -->
  <main>
    <!-- Page Content -->
    {{ content }}

    <!-- Blog Posts Section (Only on homepage) -->
    {% if page.url == "/" %}
      <h2>Latest Blog Posts</h2>
      <ul>
        {% for post in site.posts limit:5 %}
  
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a> 
            <span> - {{ post.date | date: "%b %d, %Y" }}</span>
            <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </main>

  <!-- Footer Section -->

 <footer>
  {% include footer.html %}
 </footer>
  


  <script>
    document.querySelector('.nav-toggle').addEventListener('click', function() {
      const nav = document.querySelector('nav');
      nav.classList.toggle('active');
    });
  </script>
  

</body>
</html>
